 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Beermoney balances takes the hassle out of checking on all the different survey sites you use to keep track of your earnings. Every time you visit a page which shows your balance the extension will record it. Then all you need to do is click the icon and you can see all your balances in one place.</p>
                </div>
                <div class="col-lg-4">
                    <p>Because BMB operates as an extension it doesn't need any of your credentials, keeping your earnings secure. Your balance history is stored locally in your browser so you can see your history even when offline.
                    </p>
                </div>
            </div>
        </div>
    </section>