<section id="sites">

    <div class="container">
		<div class="row">
		
		{% for beerSite in site.data.meta %}
			{% assign imgURL = '/img/sites/' | append: beerSite[0] | append: '-icon.png' %}
			{% assign usedIcon = '/img/sites/generic-site-200.png' %}
			{% for static_file in site.static_files %}
				{% if static_file.path == imgURL %}
					{% assign usedIcon = imgURL %}
				{% endif %}
			{% endfor %}
			<div class="col-xs-4 col-sm-2 all-sites-item">
				{% if beerSite[1].refurl %}
					<a href="{{beerSite[1].refurl}}" rel="nofollow" onclick="trackOutboundLink('{{beerSite[1].name}}')">
				{% else %}
					<a href="{{beerSite[1].url}}" rel="nofollow" onclick="trackOutboundLink('{{beerSite[1].name}}')">
				{% endif %}
				<img src="{{usedIcon}}" class="img-responsive" alt="{{ post.alt }}">
				<p class="site-name">{{beerSite[1].name}}</p></a>
			</div>
		{% endfor %}
		</div>
		<br/>
		<p>Some of these links are using my referral code, support this site by signing up</p>
	</div>
</section>