 <!-- About Section -->
    <section class="success" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Features</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>On top of keeping your balances in one place BMB lets you graph your earnings over time and compare between sites to see which are most profitable. There's also a quick update button to get the latest balance without having to open the page yourself.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>BMB is still in the early days of development so features are a bit limited but there's plenty more coming. Daily breakdowns, automatic balance updates and earnings alerts are just some of the features that I would like to implement. If these are the kind of things you're interested in then give some love to the project to speed me along.</p>
                </div>
                
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/bmfmfplaoclkkdmdlkejbepkcfgcpnai" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Extension
                    </a>
                </div>
            </div>
        </div>
    </section>