
    <!-- Portfolio Grid Section -->
    <section id="sites">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Supported sites</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row row-eq-height">
                {% for post in site.posts %}
                    <div class="col-xs-6 col-sm-4 col-lg-2 portfolio-item">
                        <img src="/img/sites/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                    </div>
                {% endfor %}
                <div class="col-xs-6 col-sm-4 col-lg-2 portfolio-item">
                    <a href="/supported/current"><p>See all</p></a>
                </div>
            </div>
        </div>
    </section>