<section  id="screenshot">
	<div class="container">
		<div class="row">
            <div class="col-lg-12 text-center">
                <h2>Screenshot</h2>
                <hr class="star-primary">
            </div>
        </div>
		<img src="/img/screenshot1.png" class="img-responsive">

		<div class="col-lg-8 col-lg-offset-2 text-center">
            <a rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/bmfmfplaoclkkdmdlkejbepkcfgcpnai" class="btn btn-lg btn-outline-rev dl-button">
                <i class="fa fa-download"></i>Download Extension
            </a>
        </div>
	</div>

</section>